body {
  margin: 0;
  overflow: hidden;
}

#menu {
  width: 100vw;
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-start {
  font-size: 130px;
}

#ride-container {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#panel {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 20px;
  box-sizing: border-box;
}

#timer {
  font-size: 80px;
  color: aliceblue;
}

.life {
  display: flex;
  gap: 20px;
  font-size: 80px;
}

.touches {
  display: flex;
  gap: 20px;
  font-size: 80px;
  filter: sepia(1);
}

.surfer-zone {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.surfer {
  height: 500px;
  width: 60px;
  background-color: darkblue;
  /* transition: all 0.2s; */
}

.sea {
  height: 100vh;
  background-color: rgb(5, 147, 202);
}

#track {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#center {
  position: absolute;
  height: 100vh;
  width: 1px;
  background-color: black;
}

#tube {
  width: 200px;
  height: 100vh;
  background-color: aquamarine;
}

.track-element {
  position: absolute;
  top: -300px;
  height: 150px;
  width: 200px;
  background: red;
  font-size: 90px;
}